<!DOCTYPE html>
<html lang="en">
<!-- Basic -->
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <style>
        form{
          color:rgb(10, 9, 9);
          background-color:rgb(9, 96, 4);
          padding:20px;
           }
      .icon {
    padding: 10px;
    background: rgb(12, 56, 1);
    color: white;
    min-width: 50px;
    text-align: center;
  }
  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid rgb(239, 241, 243);
  }
  .btn {
  
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  </style>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://kit.fontawesome.com/883c25fb6f.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{% static 'css0/style.css' %}">
  <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="apple-touch-icon" href="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="img js-fullheight" style="background-color: chartreuse;">
   

    <!-- Start Main Top -->
    <header class="main-header">
      <!-- Start Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
                <!--<a class="navbar-brand" href="index.html"><img src="images/logo.png" class="logo" alt=""></a>-->
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/aboutus">About Us</a></li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">LOGIN</a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin_login">Admin</a></li>
                            <li><a href="/farmer_login">FARMER</a></li>
                            <li><a href="/krishi_login">KRISHIBHAVAN</a></li>
                           
                </ul>
            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">REGISTRATION</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/farmer_register">FARMER</a></li>
                                    <li><a href="/krishi_register">KRISHIBHAVAN</a></li>
                                   
                        </ul>
                    </li>
                   <!---- <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>-->
                    <li class="nav-item"><a class="nav-link" href="/contactus">Contact Us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->
         <!----   <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    <li class="side-menu">
          <a href="#">
            <i class="fa fa-shopping-bag"></i>
            <span class="badge">3</span>
            <p>My Cart</p>
          </a>
        </li>
                </ul>
            </div>-->
            <!-- End Atribute Navigation -->
        </div>
        <!-- Start Side Menu -->
        
        <!-- End Side Menu -->
    </nav>
      <!-- End Navigation -->
  </header>
  
    <section class="ftco-section">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
              <h3 class="mb-4 text-center">Have an account?</h3>
              <form action="#" class="signin-form" method="POST">
                {% csrf_token %}   
                <div class="input-container">
                    <i class="fa fa-user icon"></i>
                    <input class="input-field" type="text" placeholder="Username" name="un" required="">
                  </div>

                
               <div class="input-container">
                    <i class="fa fa-key icon"></i>
                    <input class="input-field" type="password" placeholder="Password" name="pwd" required="">
                  </div>
                  {% if msg %}
                <p style="color:red;font-size:large"><b>{{msg}}</b></p>
                {% endif %}
           
                <input  class="input-field" type="submit" value="Sign In">
            </div>
           
            </div>
          </form>
          </div>
            </div>
        </div>
    </div>
</section>
<footer>
  <div class="footer-main">
      <div class="container">
  <div class="row">
              <div class="footer-link-contact">
                  <h4>Contact Us</h4>
                  <ul>
                     
                      <li>
                          <p><i class="fas fa-phone-square"></i>help desk: <a href="tel:+1-888705770"> 9856788844</a></p>
                      </li>
                      <li>
                          <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">plantix@gmail.com</a></p>
                      </li>
                  </ul>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="footer-widget">
                      <h4>About Plantix</h4>
                      <p>Plantix is the most prominent  platform for farmers. We have designed a
                          user-friendly and straightforward website with which you can accurately detect crop diseases
                          within a few seconds. Here is the perfect solution for crop diagnosis that will help 
                          boost your yield.</p> 
                      
                  </div>
              </div>
             
    
    
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="footer-top-box">
                     
        <h3>Social Media</h3>
        <p> </p>
        <ul>
                          <li><a href="https://www.facebook.com/null"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="https://twitter.com/null"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="https://myaccount.google.com/"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                          <li><a href="https://whatsapp.com/null"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                        
                      </ul>
      </div>
    </div>
  </div>
  <hr>
          
      </div>
  </div>
</footer>


<!-- Start copyright  -->
<div class="footer-copyright">
  <p class="footer-company">All Rights Reserved. &copy; 2022 <a href="#">Plantix</a> Design By :
      <a href="https://html.design/">html design</a></p>
</div>
<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- ALL PLUGINS -->
<script src="{% static 'js/jquery.superslides.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<script src="{% static 'js/inewsticker.js"></script>
<script src="{% static 'js/bootsnav.js.' %}"></script>
<script src="{% static 'js/images-loded.min.js' %}"></script>
<script src="{% static 'js/isotope.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/baguetteBox.min.js' %}"></script>
<script src="{% static 'js/form-validator.min.js' %}"></script>
<script src="{% static 'js/contact-form-script.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>

</html>